.background1 {
  background: url(https://i.ebayimg.com/images/g/XQoAAOSwsBtZ5fQ6/s-l400.jpg);
  flex-wrap: wrap;
}
.navbar {
  background: transparent;
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.card-body {
  border: black solid;
}
.background2 {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.obiwan {
  padding-top: 5em;
  text-align: -webkit-center;
}

.lightsaber {
  color: rgb(73, 187, 73);
}

.empty {
  background: red;
}
