.background1 {
  background: url(https://i.ebayimg.com/images/g/XQoAAOSwsBtZ5fQ6/s-l400.jpg);
  flex-wrap: wrap;
}
.navbar {
  background: transparent;
  background-image: none;
  border-color: none;
  box-shadow: none;
}
.card-body {
  border: rgb(73, 187, 73);
  border: rgb(23, 117, 240) dotted;
}
.background2 {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.obiwan {
  padding-top: 5em;
  text-align: -webkit-center;
}

.lightsaber {
  color: rgb(73, 187, 73);
}

.empty {
  background: rgb(73, 187, 73);
}
.logo {
  margin-top: 30px;
  margin-bottom: 20px;
}
.bg-black {
  background: black;
}
.star-wars {
  width: 132px;
}
.bottom {
  align-items: center;
}
.card4 {
  padding-top: 3em;
  background: none;
}
