.background1 {
  background: url(https://i.ebayimg.com/images/g/XQoAAOSwsBtZ5fQ6/s-l400.jpg);
  flex-wrap: wrap;
}
.navbar {
  background: transparent;
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.card-body {
  background-color: turquoise;
  border: black solid;
}
.background2 {
  background-color: black;
  display: flex;
}
.cards {
  display: flex;
}
.cont2 {
  justify-content: space-around;
}
.card-img-top {
  border-radius: 50%;
}
.card-body {
  position: absolute;
}
.btn {
  position: absolute;
  align-content: center;
}
.obiwan {
  padding-top: 5em;
  text-align: -webkit-center;
}
.card1 {
  position: relative;
}
